<div class="row fcHeader rounded">
    <div class="col-8 text-left fcHeaderInner">
        <label for="fr">{{currentSearchCriteria.from | uppercase}}</label>
        <label for="separator">></label>
        <label for="to">{{currentSearchCriteria.to | uppercase}}</label>
       <!-- <label for="name">></label>
        <label for="name">Pune</label>-->
    </div>
    <div class="col-4 fcHeaderInner2">
      <div><label for="dt">Depart : {{currentSearchCriteria.dateInput | date:'mediumDate'}}</label></div>
      <!--<div><label for="name">Return : </label><label for="name">10th Jan 2012</label></div>-->
    </div>
  </div>