<tabs>
  <tab tabTitle="One way">
      <!--Raw implementation: This will be chnaged to template with proper data binding
    to be reused in both tabs with flag to turn of return date in one way journey-->
    <div>
        <form [formGroup]="myForm"  
        (ngSubmit)="onSubmit(myForm.value)"  
        class="ui form"
        [class.error]="!myForm.valid && myForm.touched">
     <!--<form class="grid grid-pad" name="searchForm" id="ii" >-->
          <div class="col-1-2">
              <div class="form-control float-right"> 
                  <input
                  title="Origin"  
                  id="fromInput" 
                  type="text" 
                  [formControl]="myForm.controls['from']"/>
                  <div *ngIf="myForm.controls['from'].hasError('required')"  class="text-danger">[From] is required</div>  
              </div>
          </div>
          <div class="col-1-2">
              <div class="form-control float-left">
              <input 
              title="Destination"  
              placeholder="Enter Destination City" 
              id="to" 
              type="text"
              [formControl]="myForm.controls['to']"/>
              </div>
          </div>
          <div class="col-1-2">
              <div class="form-control float-right">
                  <dp-date-picker 
                  id="ddp" 
                  placeholder="Departure date" 
                  #dayPicker 
                  [formControl]="myForm.controls['date']"
                  ></dp-date-picker>
              </div>
          </div>
          <div class="col-1-2">
              <div class="form-control float-left" >
                <dp-date-picker 
                id="rdp" 
                placeholder="Return date" 
                #dayPicker
                ></dp-date-picker>
              </div>
          </div>
          <div class="col-1-2">
                <div class="form-control float-left" >
                    <select style="width:200px;height:28px;">
                        <option>Passengers</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
            </div>
          <div class="col-1-2">
              <div class="form-control float-right">
                    <div *ngIf="!myForm.valid"  
                    class="ui error message">Form is invalid</div>
                  <button 
                  class="btn btn-large btn-normal" 
                  title="Provide search details">Search</button>
              </div>
          </div>
      </form>
  </div>
  <div>
       
            <div class="col-1-2">
                <div class="form-control float-right">
                    <label for="name">Refine flight search</label>
                    <ion-range-slider 
                    id="rangeSel"
                    name="rangeSlider"
                    #sliderElement
                    type="double"
                    min="0"
                    max="10000"
                    from="0"
                    from_min="0"
                    from_max="30"
                    from_shadow="true"
                    to="10000"
                    to_min="40"
                    to_max="10000"
                    to_shadow="true"
                    grid="true"
                    grid_num="10"
                    prefix="Fare: "
                    postfix=" INR"
                    decorate_both="false"
                  
                    ></ion-range-slider>
              </div>
            </div>
  
  </div>
  </tab>

  <tab tabTitle="Return">
    <div>
     One way template will be reused...
    </div>
  </tab>
</tabs>