<!--This will further be poptimized to reuse template-->

<div class="row fc ">
    <div class="col fcInner">
        <div class="grid grid-pad">
              <div class="col-1-2">
                  <label for="name">{{flightDetails.fare}}</label>
              </div>
              <div class="col-1-2">
                  <label class="flightName"  for="name">AI 202</label>
              </div>
              <div class="col-1-2">
                  <label class="OrToDest" for="name">PNQ > DEL</label>
              </div>
              <div class="col-1-2">
                  <label class="OrToDest" for="name">Depart 10:00 AM</label>
              </div>
              <div class="col-1-2">
                <label class="OrToDest" for="name">Arrive 12:00 PM</label>
              </div>
          </div>
      </div>
    <div class="col fcInner">
        <div class="grid grid-pad">
            <div class="col-1-2 fn">
                <label class="flightName"  for="name">AI 203</label>
            </div>
            <div class="col-1-2">
                <label class="OrToDest" for="name"> DEL > PNQ</label>
            </div>
            <div class="col-1-2">
                <label class="OrToDest" for="name">Depart 8:00 PM</label>
            </div>
            <div class="col-1-2">
              <label class="OrToDest" for="name">Arrive 11:00 PM</label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="grid grid-pad">
            <div class="col-1-2 airlineLogo">
                <img  class=" rounded" alt="Airline Logo.">
            </div>
            <div class="col-1-2">
                <button class="btn btn-large btn-normal" title="flight booking">Book this flight</button>
            </div>
        </div>
      </div>
  </div>