.fc{
    height:auto;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    
}
.fcInner{
  font-size:1.5em;
  float: left;
}
.fn{
    margin-top: 43px;
}
.lblsm{
    font-size:0.6em;
    float: left;
    width: 100%;
}
.lblbg{
    font-size:0.8em;
    float: left; 
    width: 100%;
}
.airlineLogo{
    width: 130px;
    height:130px;
}