<!--This will further be poptimized to reuse template-->

<div class="row fc rounded bg-info text-white">
    <div class="col fcInner">
        <div class="grid grid-pad">
              <div class="col-1-2">
                  <label for="name">{{flightDetails.fare |  currency:'INR'}}</label>
              </div>
              <div class="col-1-2">
                  <label class="lblbg"  for="name">{{flightDetails.flightNum| uppercase}}</label>
              </div>
              <div class="col-1-2">
                  <label class="lblsm" for="ft">{{flightDetails.from | uppercase}} > {{flightDetails.to| uppercase}}</label>
              </div>
              <div class="col-1-2">
                  <label class="lblsm" for="dt">Depart : {{flightDetails.departureTime| uppercase}}</label>
              </div>
              <div class="col-1-2">
                <label class="lblsm" for="at">Arrive : {{flightDetails.arrivalTime| uppercase}}</label>
              </div>
          </div>
      </div>
    <div class="col fcInner" *ngIf="false">
        <div class="grid grid-pad">
            <div class="col-1-2 fn">
                <label class="flightName"  for="name"></label>
            </div>
            <div class="col-1-2">
                <label class="OrToDest" for="name"> </label>
            </div>
            <div class="col-1-2">
                <label class="OrToDest" for="name"></label>
            </div>
            <div class="col-1-2">
              <label class="OrToDest" for="name"></label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="grid grid-pad float-right">
            <div class="col-1-2 airlineLogo">
                <img  class=" rounded" alt="Airline Logo.">
            </div>
            <div class="col-1-2">
                <button class="btn btn-large btn-normal" title="flight booking">Book this flight</button>
            </div>
        </div>
      </div>
  </div>