<div class="container">
    <div class="row">
        <app-header 
        class="aheader"
        header="Flight Search Engine"></app-header>
    </div>
    <div class="row">
        <div class="sidebar col-md-4" >
            <app-search-input 
            (flightSearchInitiated)="onFlightSearchRequested($event)">
        </app-search-input>
        </div>
        <div class="col-md-8 main-content ">
            <app-flight-card-header *ngIf="flightsearchResult?.length > 0" [currentSearchCriteria]="currentSearchdetails"></app-flight-card-header>
            <div >
                <app-flight-card 
                *ngFor="let item of flightsearchResult" 
                [flightDetails]="item"></app-flight-card>  
            </div> 
        </div>
    </div>
    <form>
        <div>
   <!-- <button (click)="searchTerm$.next($event.target.value)" class="btn btn-large btn-normal" title="Provide search details">Search</button>-->
</div></form>

</div>
