.page-container {
    height: 100%;
    border:1px solid black;
}
.row {
    height: 100%;
}
.sidebar {	
    float: left;
    border:1px solid black;
    min-width: 310px;
}
.main-content {
    border:1px solid black;
}