<div class="container">
    <div class="row">
        <app-header style="width:100%;" header="Flight Search Engine"></app-header>
    </div>
    <div class="row">
        <div class="sidebar col-md-4" >
            <app-search-input></app-search-input>
        </div>
        <div class="col-md-8 main-content ">
            <app-flight-card-header></app-flight-card-header>
            <div *ngFor="let item of [1,2,3]">
                <app-flight-card></app-flight-card>  
            </div> 
        </div>
    </div>
</div>