.page-container {
    height: 100%;
    border:1px solid black;
}
.row {
    height: 100%;
}
.sidebar {	
    float: left;
    border:1px solid black;
}
.main-content {
    border:1px solid black;
}
.aheader{
    width:100%;
}